.deleteIcon {
  color: #ffcccc;
  cursor: pointer;
  margin: 0 0.5rem;
}

.deleteIcon:hover {
  color: red;
}

.previewIcon {
  background: green;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.previewIcon:hover {
  background: green;
  color: #fff;
  cursor: pointer;
}

.downloadIcon {
  background: #6565ff;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 15px;
  color: #fff;
  padding: 2px 4px;
  margin: 0;
  height: 36px;
  font-family: "Roboto", sans-serif;
}

.downloadIcon:hover {
  color: #fff;
  background: #6565ff;
}
